<form action="./search" method="GET" name="search">
  <div class="row">
    <div class="col-12 col-lg-8 left">
      <div class="col-12 col-lg-4">
        <% qpons.forEach( function(model) {  %>
          <%= model.rest%>
            <% });%>
      </div>
      <div class="col-12 col-lg-4">
      </div>
    </div>
    <div class="col-12 col-lg-4 search">
      <h5>
        Search
      </h5>
      <label>District</label>
      <select class="form-control" name="sDist">
        <option value="all">All Districts</option>
        <option value="HK Island">HK Island</option>
        <option value="Kowloon">Kowloon</option>
        <option value="New Territories">New Territories</option>
      </select>
      <br>
      <label for="">Coins Range:</label>
      <input type="text" class="range_03 form-control" name="sRange" value="">
      <label>Valid Before:</label>
      <input type="text" class="form-control datepicker" name="sDate" data-provide="datepicker">
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
